@charset "UTF-8";
#banner_slide{
	overflow: hidden;
	width:910px;
	height: 395px;
	box-shadow: 0 6px 14px 0 gray;
}

.banner{
	width: 910px;
	display: inline-block;
	float: left;
}

.banner img{
	width: 910px;
}

#banner_container{
	width:10000px;
	transition: transform 1.5s
}

.index_container{
	width:910px;
	height:510px;
	/* border: 1px solid black; */
	transition: transform 1.5s;
}

.index_text_me{
}


.recipe_header{
	width: 280px;
	margin-right: 22px;
	display: inline-block;
	border-left: 0.5px solid #c6e1c6;
	border-right: 0.5px solid #c6e1c6;
	float: left;
}
.recipe_rec_img img{
	width: 100%;
	height: 240px;
}
.recipe_rec_title{
	height: 30px;
	font-size: 11px;
}
.recipe_rec_content{
	height: 200px;
	overflow: hidden;
}
#recipe_under{
	width:885px; 
	height: 60px; 
	background: #609672; 
	border-radius: 5px; 
	display: inline-block; 
	margin-top: 10px;
	float: left;
}