@charset "UTF-8";

input.width_350 {margin-left: -23px;}

input#nickname {margin-left: -24px;}

input#pwd2 {margin-left: -9px;}

input#email1 {margin-left: 16px;}

input.width_350 {margin-left: -23px;}

input#nickname {margin-left: -24px;}

input#pwd2 {margin-left: -9px;}

input#email1 {margin-left: 26px;}
input#email3 {width: 110px;}
